.navbar{
    position: fixed;
    width: 100%;
    border-bottom: tomato;
    border-width: 0 0 3px 0;
    border-style: solid;
}

.canvas{
    background-image: url("../images/jambalaya.jpg");
    background-size: cover;
    height: 100vh;
}

.content-section{

    width:100%;
    padding-left: 0;
    padding-right: 0;
}

.brand{
    margin-left: 10px;
    font-size: larger;
    font-family: 'Knewave', cursive;
}

/* Index Styling */

.search-card{
    width: 95%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.card-content{
    padding: 10px 15px 25px 15px;
}

.modal-card{
    width:90%;
    position: absolute;
    top: 100px;
    max-height: 60%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
}

.filter-label{
    display: block;
}

.labelled-input{
    margin-right: 10px;
}

/* Recipe Results  */

.results-hero{
    background-color: tomato;
    background-size: cover;
    height: 120px;
}

.results-hero-body{
    padding: 1rem;
}

.results-title{
    font-size: 1.5rem;
}

.results-subtitle{
    font-size: 1.2rem;
}

.result-thumbnail{
    width: 200%
}

.media-content{
    overflow: visible;
}

.popover{
width: 100%;

}

.recipe-result-content{
    overflow: visible;
}

.recipe-name{
    display: inline-block;
}

.info-button{ 
    color: white;
    font-weight: 900;
    border-radius: 10px;
    font-size: 6px;
    width: 10px;
    padding: 0 auto;
}

/* Recipe Page */

.ingredients{
    margin: 15px;
}

.ingredients-list{
    margin-top: 15px;
}

.ingredient-bullet{
    color: black;
}

.ingredient-quantity{
    display: inline-block;
    font-weight: 500;
    min-width: 80px;
}

.ingredient-name{
    font-weight: 300;
    display: inline;
}



.instructions{
    margin: 15px;
    text-align: justify;
}

.recipe-steps{
    padding-top: 15px;
    padding-bottom: 15px;
}